<div class="max-w-6xl mx-auto px-4 py-6">
  <div class="px-6 py-5">
    <h2 class="text-3xl text-center font-semibold text-gray-800">Conveyance Bills</h2>
  </div>

  <div>
    <div class="flex flex-row-reverse items-center justify-between mb-4">
      <div class="flex gap-2 flex-col">
        <button
          class="px-4 py-2 text-sm bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"
        >
          Attendance Report
        </button>
        <button
          class="px-4 py-2 text-sm bg-gray-600 text-white rounded-lg hover:bg-gray-700 transition"
        >
          Holiday List
        </button>
      </div>
      @if (AuthService.currentUser(); as user) {
        <div class="border border-gray-200 rounded-lg overflow-hidden w-3/5">
          <table class="w-full text-sm">
            <tbody class="divide-y divide-gray-300">
              <tr>
                <td class="px-4 py-3 font-medium text-gray-600 w-1/2">Name</td>
                <td class="px-4 py-3 text-gray-800 border-l border-gray-300">
                  {{ user.name }}
                </td>
              </tr>

              <tr>
                <td class="px-4 py-3 font-medium text-gray-600">Contact No</td>
                <td class="px-4 py-3 text-gray-800 border-l border-gray-300">
                  {{ user.contacNo }}
                </td>
              </tr>

              <tr>
                <td class="px-4 py-3 font-medium text-gray-600">Date of Submission</td>
                <td class="px-4 py-3 text-gray-800 border-l border-gray-300">
                  {{ user.submitDate }}
                </td>
              </tr>

              <tr>
                <td class="px-4 py-3 font-medium text-gray-600">Supervisor's Designation</td>
                <td class="px-4 py-3 text-gray-800 border-l border-gray-300">
                  {{ user.designation }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      }
    </div>

    <!-- Holiday Warning -->
    <div>
      <div
        *ngIf="isHoliday"
        class="mb-4 px-4 py-3 bg-yellow-50 border border-yellow-300 text-yellow-800 rounded-lg text-sm"
      >
        ⚠️ Selected date falls on a Holiday/Weekend!
      </div>
    </div>

    <!-- Employee Info -->

    <!-- Bill Items Table -->
    <div class="rounded-lg mb-4" [formGroup]="bilform">
      <table class="w-full text-sm text-leftborder border-gray-200">
        <thead class="bg-gray-100 text-gray-600 font-medium">
          <tr>
            <th class="px-3 py-3 whitespace-nowrap">SL</th>
            <th class="px-3 py-3 whitespace-nowrap">Visited Date</th>
            <th class="px-3 py-3 whitespace-nowrap">From</th>
            <th class="px-3 py-3 whitespace-nowrap">To</th>
            <th class="px-3 py-3 whitespace-nowrap">Vsited Company</th>
            <th class="px-3 py-3 whitespace-nowrap">Purpose</th>
            <th class="px-3 py-3 whitespace-nowrap">Mode of Transport</th>
            <th class="px-3 py-3 whitespace-nowrap">Amount</th>
            <th class="px-3 py-3 whitespace-nowrap">Action</th>
          </tr>
        </thead>

        <tbody formArrayName="billitem" class="divide-y divide-gray-200">
          @for (item of items.controls; track item; let i = $index) {
            <tr [formGroupName]="i" class="bg-white hover:bg-gray-50">
              <td class="px-3 py-2 border border-gray-300">{{ i + 1 }}</td>

              <td class="px-3 py-2 border border-gray-300 relative">
                @if (!getControl($index, 'visitedDate')) {
                  <input
                    type="date"
                    formControlName="visitedDate"
                    class="w-full px-2 py-2 text-sm border border-gray-300 rounded"
                  />
                } @else {
                  <div class="relative" (click)="clearDate($index)">
                    <span class="px-2 py-2 text-sm">
                      {{ getControl($index, 'visitedDate') | shortDate }}
                    </span>
                    <input
                      type="date"
                      formControlName="visitedDate"
                      class="absolute inset-0 opacity-0 cursor-pointer w-full"
                    />
                  </div>
                }

                @if (hasError($index, 'visitedDate', 'futureDate')) {
                  <div class="absolute z-50 bottom-full left-0 mb-1 w-max">
                    <div class="bg-gray-200 text-red-500 text-base rounded px-2 py-1 shadow-lg">
                      Future date is not allowed

                      <div
                        class="absolute top-full left-3 border-4 border-transparent border-t-red-500"
                      ></div>
                    </div>
                  </div>
                }

                @if (hasError($index, 'visitedDate', 'maxOneMonth')) {
                  <div class="absolute z-50 bottom-full left-0 mb-1 w-max">
                    <div class="bg-gray-200 text-red-500 text-base rounded px-2 py-1 shadow-lg">
                      Date cannot be older than 1 month

                      <div
                        class="absolute top-full left-3 border-4 border-transparent border-t-red-500"
                      ></div>
                    </div>
                  </div>
                }
              </td>

              <td class="px-3 py-2 border border-gray-300">
                <input
                  formControlName="fromLocation"
                  class="w-full px-2 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-gray-500"
                />
              </td>
              <td class="px-3 py-2 border border-gray-300">
                <input
                  formControlName="toLocation"
                  class="w-full px-2 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-gray-500"
                />
              </td>

              <td class="px-3 py-2 border border-gray-300">
                <div class="relative">
                  <input
                    formControlName="companyName"
                    (focus)="activeDropdownIndex = i"
                    (input)="activeDropdownIndex = i"
                    (blur)="closeDropdown()"
                    autocomplete="off"
                    placeholder="type company name.."
                    class="w-full px-2 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-gray-500"
                  />
                  @if (activeDropdownIndex === i && suggestions.length > 0) {
                    <ul
                      class="absolute z-50 w-full bg-white border border-gray-400 rounded shadow-xl left-0 top-full mt-1"
                    >
                      @for (company of suggestions.slice(0, 10); track company) {
                        <li
                          (mousedown)="selectCompany(company.companyName, i)"
                          class="px-3 py-2 text-sm hover:bg-blue-50 cursor-pointer border-b last:border-none text-left"
                        >
                          {{ company.companyName }}
                        </li>
                      }
                    </ul>
                  }
                </div>
              </td>

              <td class="px-3 py-2 border border-gray-300">
                <select
                  formControlName="purpose"
                  class="w-full px-2 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-gray-500"
                >
                  @for (p of purposes; track p) {
                    <option [value]="p">{{ p }}</option>
                  }
                </select>
              </td>
              <td class="px-3 py-2 border border-gray-300">
                <select
                  formControlName="transportMode"
                  class="w-full px-2 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-gray-500"
                >
                  @for (m of transportModes; track m) {
                    <option [value]="m">{{ m }}</option>
                  }
                </select>
              </td>
              <td class="px-3 py-2 border border-gray-300">
                <input
                  type="number"
                  formControlName="amount"
                  class="w-24 px-2 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-gray-500"
                />
              </td>
              <td class="px-3 py-2 border border-gray-300">
                @if (items.length > 0) {
                  <button
                    (click)="removeRow(i)"
                    class="text-red-500 hover:text-red-700 transition text-base"
                  >
                    <img src="images/Trash.svg" />
                  </button>
                }
              </td>
            </tr>
          }
        </tbody>

        <tfoot class="bg-gray-50">
          <tr>
            <td colspan="8" class="px-3 py-3 text-right text-sm font-semibold text-gray-700">
              Total:
            </td>
            <td class="px-3 py-3 text-sm font-bold text-gray-800">
              {{ totalAmount() ?? 0 }}
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <!-- Add Row -->
    <button
      (click)="addRow()"
      class="mb-6 px-4 py-2 text-sm bg-gray-500 text-white rounded-lg hover:bg-gray-400 transition"
    >
      + Add Row
    </button>

    <!-- Bottom Buttons -->
    <div class="flex justify-end gap-3">
      @if (!isEditMode()) {
        <button
          (click)="saveDraft()"
          class="px-5 py-2 text-sm border bg-[#67AED5] border-gray-400 text-gray-700 rounded-lg hover:bg-[#5aa894] transition"
        >
          Save to Draft
        </button>
      } @else {
        <button
          (click)="editBill()"
          class="px-5 py-2 text-sm border bg-[#67AED5] border-gray-400 text-gray-700 rounded-lg hover:bg-[#5aa894] transition"
        >
          update
        </button>
      }

      <button
        (click)="submitotSupervisor()"
        [disabled]="isEditMode()"
        class="px-5 py-2 text-sm bg-[#67D5B2] text-white rounded-lg hover:bg-[#5aa894] transition"
      >
        Submit to the Supervisor
      </button>
    </div>
  </div>
</div>

@if (showSuccessModal()) {
  <app-success-page
    [summaryData]="submissionSummary()"
    (onCreateNew)="handleCreateNew()"
    (onTrackStatus)="handleTrackStatus()"
  >
  </app-success-page>
}
