<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="p-8 rounded shadow-md w-2/3 lg:w-2/5">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

    <form class="" [formGroup]="loginForm" #loginFormEl (submit)="login($event, loginFormEl)" novalidate>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold"
          >User ID
          <input
            type="number"
            formControlName="userId"
            class="{{
              loginForm.get('userId')?.touched && loginForm.get('userId')?.invalid
                ? 'border-red-500'
                : 'border-gray-300'
            }} shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Enter User ID"
          />
        </label>

        @if (loginForm.get('userId')?.touched && loginForm.get('userId')?.errors) {
          <div class="text-red-500 text-xs italic mt-1">User ID is Requrar!</div>
        }
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold"
          >Password
          <input
            type="password"
            formControlName="password"
            class="{{
              loginForm.get('password')?.touched && loginForm.get('password')?.invalid
                ? 'border-red-500'
                : 'border-gray-300'
            }} shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="******************"
          />
        </label>

        @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors) {
          <div class="text-red-500 text-sm italic mt-1">Password is Requrard!</div>
        }
      </div>

      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
