<div class="max-w-7xl mx-auto px-4 py-6">
  <div class="px-6 py-5 flex items-center justify-center mb-4">
    <h2 class="w-3/5 py-5 rounded-xl bg-[#cfcfc6] text-2xl text-center font-semibold text-gray-800">
      Bill Approval Dashboard
    </h2>
  </div>

  <div class="w-full">
    <div class="flex items-center justify-center p-4">
      <div
        [formGroup]="filterForm"
        class="w-3/4 bg-white border border-gray-200 rounded-lg shadow-sm p-6 flex flex-col md:flex-row items-end md:items-center gap-6"
      >
        <div class="space-y-8 w-full p-4">
          <div class="flex flex-wrap items-center justify-between gap-4 ml-18">
            <div class="grow flex items-center gap-4">
              <label class="text-base font-bold text-gray-700 whitespace-nowrap">From:</label>
              <input
                type="date"
                formControlName="fromDate"
                class="w-full px-3 py-2 border border-gray-400 rounded focus:outline-none focus:ring-1 focus:ring-gray-300 focus:border-gray-300 transition-all"
              />
            </div>

            <div class="grow flex items-center gap-2">
              <label class="text-base font-bold text-gray-700 whitespace-nowrap">To:</label>
              <input
                type="date"
                formControlName="toDate"
                class="w-full px-3 py-2 border border-gray-400 rounded focus:outline-none focus:ring-1 focus:ring-gray-300 focus:border-gray-300 transition-all"
              />
            </div>
          </div>

          <div class="flex items-center gap-2 w-full">
            <label class="text-base font-bold text-gray-700 whitespace-nowrap"
              >Employee Name:</label
            >
            <input
              type="text"
              class="grow px-3 py-2 border border-gray-400 rounded focus:outline-none focus:ring-1 focus:ring-gray-300 focus:border-gray-300 transition-all"
            />
          </div>
        </div>

        <div class="shrink-0">
          <button
            (click)="loadApproval()"
            type="button"
            class="grow bg-[#6db9d9] hover:bg-[#5ca8c8] text-white font-bold py-2.5 px-8 rounded-xl shadow-md transition-colors duration-200"
          >
            Apply
          </button>
        </div>
      </div>
    </div>

    <div class="w-full flex flex-col items-center mb-4">
      <!-- Bill Items Table -->
      <div class="rounded-lg border border-gray-200 mb-4 w-full">
        <div class="overflow-x-auto p-4">
          <table class="w-full border-collapse border border-gray-300 text-sm text-center">
            <thead class="bg-gray-100">
              <tr>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">SL.</th>

                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Employee ID
                </th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Employee Name
                </th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Submission Date
                </th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">Total Bill</th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">Details</th>
              </tr>
            </thead>
            @if (approvebill(); as bill) {
              @for (item of bill; track $index; let i=$index) {
                <tbody class="divide-y divide-gray-300">
                  <tr class="hover:bg-gray-50 transition-colors">
                    <td class="border border-gray-300 px-4 py-3">{{i+1}}</td>

                    <td class="border border-gray-300 px-4 py-3 font-bold">{{item.personId}}</td>
                    <td class="border border-gray-300 px-4 py-3">{{item.personName}}</td>
                    <td class="border border-gray-300 px-4 py-3">{{item.submissionDate | date: 'dd-MMM-yyyy'}} </td>
                    <td class="border border-gray-300 px-4 py-3">{{item.totalAmount}}</td>
                    <td class="px-4 py-2 border-none text-left">
                      <button type="button" (click)="goToDetails(item.submissionDate,item.personId)"
                        class="bg-[#add8e6] hover:bg-[#99c9d8] text-gray-800 text-xs font-bold py-1.5 px-4 rounded-full shadow-sm"
                      >
                        Details View
                      </button>
                    </td>
                  </tr>

                  <!-- <tr class="hover:bg-gray-50 transition-colors">
                    <td class="border border-gray-300 px-4 py-3">2</td>

                    <td class="border border-gray-300 px-4 py-3 font-bold">1196</td>
                    <td class="border border-gray-300 px-4 py-3">Nayan</td>
                    <td class="border border-gray-300 px-4 py-3">2-Jan</td>
                    <td class="border border-gray-300 px-4 py-3">190</td>
                    <td class="px-4 py-2 border-none text-left">
                      <button
                        class="bg-[#add8e6] hover:bg-[#99c9d8] text-gray-800 text-xs font-bold py-1.5 px-4 rounded-full shadow-sm"
                      >
                        Details View
                      </button>
                    </td>
                  </tr>

                  <tr class="hover:bg-gray-50 transition-colors">
                    <td class="border border-gray-300 px-4 py-3">3</td>

                    <td class="border border-gray-300 px-4 py-3 font-bold">1198</td>
                    <td class="border border-gray-300 px-4 py-3">Shourav</td>
                    <td class="border border-gray-300 px-4 py-3">3-Jan</td>
                    <td class="border border-gray-300 px-4 py-3">290</td>
                    <td class="px-4 py-2 border-none text-left">
                      <button
                        class="bg-[#add8e6] hover:bg-[#99c9d8] text-gray-800 text-xs font-bold py-1.5 px-4 rounded-full shadow-sm"
                      >
                        Details View
                      </button>
                    </td>
                  </tr> -->


                </tbody>
              }
            }
          </table>
        </div>
      </div>
    </div>

    
  </div>
</div>
