<div class="max-w-7xl mx-auto px-4 py-6">
  <div class="px-6 py-5 flex items-center justify-center mb-4">
    <h2 class="w-3/5 py-5 rounded-xl bg-[#cfcfc6] text-2xl text-center font-semibold text-gray-800">
      Bill Tracking
    </h2>
  </div>

  <div class="w-full">
    <div class="flex items-center justify-center p-4">
      <div
        class="w-3/4 bg-white rounded-lg p-6 flex flex-col md:flex-row items-end md:items-center gap-6"
      >
        <div class="space-y-8 w-full p-4">
          <div class="flex items-center justify-around gap-4">
            <div class="w-1/2 text-base text-gray-600">
              <input
                type="text"
                (input)="searchTerm.set($any($event.target).value)"
                placeholder="Search the Visited company.."
                class="placeholder:text-gray-500 w-full px-3 py-3 border border-gray-400 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-300 focus:border-gray-300 transition-all"
              />
            </div>

            <div class="flex items-center gap-4 p-4">
              <div>
                <button
                  type="button"
                  (click)="filterThisMonth()"
                  [class.bg-slate-700]="thisMonthOnly()"
                  [class.text-white]="thisMonthOnly()"
                  class="whitespace-nowrap h-14 min-w-37.5 flex items-center justify-center gap-1 px-6 border border-gray-300 bg-gray-100 hover:bg-gray-200 rounded-2xl text-sm font-medium transition-all duration-200 shadow-sm"
                >
                  <img class="h-8 w-8" src="images/Filter.svg" alt="filter" />
                  This Month
                </button>
              </div>

              <div class="relative">
                <select
                  (change)="
                    filterStatus($any($event.target).value ? +$any($event.target).value : null)
                  "
                  class="w-full px-5 py-4 border border-gray-300 rounded-xl bg-gray-100 text-gray-800 text-sm font-medium hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-slate-300"
                >
                  <option value="">All Statuses</option>

                  @for (status of statusOptions; track status.value) {
                    <option [value]="status.value">
                      {{ status.label }}
                    </option>
                  }
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full flex flex-col items-center mb-4">
      <div class="rounded-lg border border-gray-200 mb-4 w-full">
        <div class="overflow-x-auto p-4">
          <table class="w-full border-collapse border border-gray-300 text-sm text-center">
            <thead class="bg-gray-100">
              <tr>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">SL.</th>

                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Visited Date
                </th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Submitted Date
                </th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">Form</th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">To</th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Visited Company
                </th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">Purpose</th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Made of Transport
                </th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">Amount</th>
                <th class="border border-gray-300 px-4 py-3 font-bold text-gray-800">
                  Current Status
                </th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-300">
              @for (item of paginatedBills(); track item.convID; let i = $index) {
                <tr class="hover:bg-gray-50 transition-colors">
                  <td class="border border-gray-300 px-4 py-3">{{ i + 1 }}</td>
                  <td class="border border-gray-300 px-4 py-3">
                    {{ item.visitedDate | date: 'dd-MMM-yyyy' }}
                  </td>
                  <td class="border border-gray-300 px-4 py-3">
                    {{ item.submittedDate | date: 'dd-MMM-yyyy' }}
                  </td>
                  <td class="border border-gray-300 px-4 py-3">{{ item.fromLocation }}</td>
                  <td class="border border-gray-300 px-4 py-3">{{ item.toLocation }}</td>
                  <td class="border border-gray-300 px-4 py-3">{{ item.companyName }}</td>
                  <td class="border border-gray-300 px-4 py-3">{{ item.purpose }}</td>
                  <td class="border border-gray-300 px-4 py-3">{{ item.transportMode }}</td>
                  <td class="border border-gray-300 px-4 py-3">{{ item.amount }}</td>
                  <td class="border border-gray-300 px-4 py-3">
                    {{ getStatusName(item.currentStatus ?? 0) }}
                  </td>
                </tr>
              }
            </tbody>
          </table>

          <div class="flex justify-center items-center gap-2 py-6">
            @for (page of [].constructor(totalPages()); track $index) {
              <button
                (click)="changePage($index + 1)"
                [class.bg-slate-700]="currentPage() === $index + 1"
                [class.text-white]="currentPage() === $index + 1"
                class="px-4 py-2 rounded-lg border hover:bg-slate-100"
              >
                {{ $index + 1 }}
              </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
